* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.041px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  padding: 0px 16px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.041px;
  color: #1c1c1e;
  overflow-x: hidden;
}

@media screen and (min-width: 640px) and (max-width: 900px) {
  body {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  body {
    max-width: 900px;
    margin: 0 auto;
  }
}
